/* Whole Document */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #25274d;
}

/* Universal Styling */

/* Navbar */
.navbar {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  color: white;
}

.nav_links {
  text-decoration: none;
}

.nav_link {
  cursor: pointer;
}

.nav_link a {
  color: white;
  text-decoration: none;
}

.logo {
  padding-left: 1rem;
  font-size: large;
  cursor: pointer;
}

.logo a {
  color: white;
  text-decoration: none;
}

/* Body Content */
.home_body {
  color: white;
}

.home_body h1 {
  color: #29648a;
}

::placeholder {
  color: white;
}

.card h2 {
  color: #29648a;
}

.form_email {
  padding: 4px 1rem 4px 1rem;
  border-radius: 5px;
  background-color: #464866;
  color: white;
}

.button {
  padding: 4px 1rem 4px 1rem;
  border-radius: 5px;
  border-color: #29648a;
  border-width: 4px;
  background-color: #464866;
  color: white;
  cursor: pointer;
}

/* Footer */
.copyright {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

/* Small Screen Styling */
@media only screen and (max-width: 768px) {
  /* Navbar */
  .nav_links {
    display: none;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #toggle_button {
    padding: 1.1rem 1rem 0 0;
    font-size: larger;
    cursor: pointer;
  }

  .show_menu {
    position: absolute;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    background-color: rgba(70, 72, 102, 0.8);
    margin-top: 3.5rem;
  }

  .nav_link {
    padding: 1rem;
    list-style-type: none;
  }

  .nav_link:hover {
    background-color: #25274d;
    padding-left: 75%;
    padding-right: 75%;
  }

  /* Body Content */
  .form {
    padding: 1rem;
    text-align: center;
  }

  .cards {
    padding: 1rem;
  }

  .card {
    text-align: center;
    background-color: black;
    padding: 5rem 0 5rem 0;
  }
}
